bin/
obj/
*.o
*.obj
*.so
*.a
*.exe
*.out
a.out
debug_tokens
build/
*.dSYM/
*.elf
*.map
*~
*.swp
*.log
.vscode/
.idea/
.DS_Store
tags
test/failcheck
test/error_demo.lu
test/comprehensive_errors.lu
test/index_error.lu
ir/
test_file.txt
docs/my_strdup.md
preprocessed/
rust/unsafe_rt/target/
rust/unsafe_rt/Cargo.lock
lib/libluna_unsafe_rt.a
rust/data_rt/target/
rust/data_rt/Cargo.lock
lib/libluna_data_rt.a
zig-test/.zig-cache/
zig-test/.zig-global-cache/
zig-test/zig-out/
benchmark/.zig-cache/
benchmark/.zig-global-cache/
test_gc/
luna/